<div class="title">PLAYER SELECT</div>
<section>
  @for(player of players(); track player.image; let index = $index){
    <button class="plate" (click)="cycle_player_state(player)" [class]="player.state">
      <div class="background"></div>
      <img [src]="player.image"  alt="Player Avatar" />
      @if(player.state !== 'inactive'){
        <span class="label">
        @if(player.state === 'cpu'){
          CPU
        } @else {
          {{ get_human_player_index(index) + 1}}P
        }
      </span>
      }
    </button>
  }
</section>
<button type="submit" (click)="start()">START</button>
