h3 {
  color: var(--slate-700);
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

:host > ul {
  padding: 0;
}

li {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .label {
    align-items: center;
    display: flex;
    gap: 0.75rem;
  }

  .value {
    font-size: 0.875rem;
  }
}

.dot {
  aspect-ratio: 1;
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
}

.legend-text {
  color: var(--slate-600);
  font-size: 0.875rem;
  font-weight: 500;
}
