projects/component-library/src/components/svg-checkmark-outline/__screenshots__/svg-checkmark-outline.component.spec.ts/svg-checkmark-outline-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/vuexy/theme-customizer-trigger/__screenshots__/theme-customizer-trigger.component.spec.ts/vuexy-theme-customizer-trigger-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/avatar-group/__screenshots__/avatar-group.component.spec.ts/avatar-group-with-projected-content-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/color-scheme-toggle/__screenshots__/color-scheme-toggle.component.spec.ts/color-scheme-toggle-dark-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/lando-norris-card/__screenshots__/lando-norris-card.component.spec.ts/lando-norris-card-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/avatar-badge/__screenshots__/avatar-badge.component.spec.ts/avatar-badge-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/avatar-with-label/__screenshots__/avatar-with-label.component.spec.ts/avatar-with-label-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/baseline-availability/__screenshots__/baseline-availability.component.spec.ts/baseline-availability-none-supported-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/color-scheme-toggle/__screenshots__/color-scheme-toggle.component.spec.ts/color-scheme-toggle-light-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/svg-checkmark-filled/__screenshots__/svg-checkmark-filled.component.spec.ts/svg-checkmark-filled-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
