projects/component-library/src/components/color-scheme-toggle/__screenshots__/color-scheme-toggle.component.spec.ts/color-scheme-toggle-dark-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
projects/component-library/src/components/color-scheme-toggle/__screenshots__/color-scheme-toggle.component.spec.ts/color-scheme-toggle-light-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
