:host {
  align-items: center;
  display: inline-flex;
  font-size: 0.9em;
  gap: 8px;
}

.name {
  font-weight: bolder;
}

.text-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.label, ::ng-deep [ngProjectAs="label"] {
  color: light-dark(rgb(0 0 0 / 80%), rgb(255 255 255 /80%));
  font-size: 0.8em;
}
