:host {
  align-items: center;
  display: inline-flex;
  font-size: 0.9em;
  gap: 8px;
}

.text-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1rem;
  font-weight: 500;
}
