<h1>flex-flow shorthand</h1>
<i><small>&lt;flex-direction&gt; || &lt;flex-wrap&gt;</small></i>

<input type="text" readonly [value]="result()" />

<div class='property'>
  <label for="flex_direction">flex-direction</label>
  <select name="flex_direction" [(ngModel)]="flex_direction">
    <option value="">-- none --</option>
    <option>row</option>
    <option>row-reverse</option>
    <option>column</option>
    <option>column-reverse</option>
  </select>
</div>

<div class='property'>
  <label for="flex_wrap">flex-wrap</label>
  <select name="flex_wrap" [(ngModel)]="flex_wrap">
    <option value="">-- none --</option>
    <option>nowrap</option>
    <option>wrap</option>
    <option>wrap-reverse</option>
  </select>
</div>

<cite><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-flow">documentation</a></cite>
