:host {
  --color-border: #ddd;;

  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;
  row-gap: 1em;
  width: 500px;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

input[type="text"] {
  border-color: var(--color-border);
  border-radius: 1em;
  border-style: solid;
  box-shadow: 0 0 7px 4px #00000017 inset;
  color: #5E5E5E;
  font-size: 2em;
  font-style: italic;
  padding: 0.5em 1em;
  resize: none;
}

.property {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

select {
  border-color: var(--color-border);
  border-radius: 1em;
  font-size: 1em;
  min-width: 160px;
  padding: 0.5em 0.2em;
}
