body.sb-show-main.sb-main-fullscreen {
  min-height: 100vh;
  min-width: 100vw;

  #storybook-root, storybook-root {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
}

body.sb-main-centered.sb-show-main {
  /**
    https://webgradients.com/gradient/013-heavy-rain
   */
  //background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
