:host {
  --avatar-border-width: round(max(2px, calc(var(--size, var(--size-md)) * 0.04)), 1px);

  align-items: center;
  aspect-ratio: 1;
  border-color: var(--avatar-border-color, rgb(0 0 0 / 10%));
  border-radius: var(--avatar-border-radius, 50%);
  border-style: var(--avatar-border-style, none);
  border-width: var(--avatar-border-width);
  color: rgb(0 0 0 / 50%);
  container-type: inline-size;
  display: inline-flex;
  justify-content: center;
  padding: var(--avatar-padding, 0);
  position: relative;
  user-select: none;
  width: min(var(--size, var(--size-md)), 100cqmin);
}

.text {
  align-items: center;
  background-color: var(--avatar-background-color, var(--color-silvery-white));
  border-radius: inherit;
  display: flex;
  font-size: 40cqmin;
  height: 100%;
  justify-content: center;
  line-height: 1;
  width: 100%;
}
