:host {
  align-items: center;
  border-radius: 24px 24px 0 0;
  border-top: 4px solid #805429;
  background: #D1A354;
  box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.10);
  color: rgba(74, 42, 12, 0.70);
  display: grid;
  grid-template-columns: 1fr 1fr 64px 1fr 1fr;
  justify-content: center;
  width: 100%;
}

a {
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.5px;
}

:host button {
  font-size: 28px;
  transform: translateY(-25%)
}
