<a class="flex flex-col items-center">
  <svg lucideHouse />
  <span>Home</span>
</a>
<a class="flex flex-col items-center">
  <svg lucideList />
  <span>Master</span>
</a>
<button mbrCritterButton rounded color="light" mbrCritterBadge="4" mbrCritterBadgeSize="16px">
  <svg lucideShoppingCart class="size-[28px]" stroke-linecap="round" stroke-linejoin="round" />
</button>
<a class="flex flex-col items-center">
  <svg lucideBox />
  <span>Pantry</span>
</a>
<a class="flex flex-col items-center">
  <svg lucideUsers />
  <span>Family</span>
</a>
