@for(item of items(); track $index) {
  @if($index !== 2){
    <a class="flex flex-col items-center no-underline" [routerLink]="[item.route]">
      <svg [lucideIcon]="item.icon" />
      <span>{{item.title}}</span>
    </a>
  }
  @else {
    <button
      mbrCritterButton
      rounded
      color="light"
      mbrCritterBadgeSize="16px"
      [mbrCritterBadge]="cart_count()"
      [routerLink]="[item.route]"
    >
      <svg [lucideIcon]="item.icon" [strokeWidth]="2.91667" />
    </button>
  }
}
