:host {
  --gap: 0.3em;

  background: #1c202a;
  border-radius: 1.5em;
  color: #fff;
  cursor: pointer;
  display: inline-grid;
  font-size: 0.875em;
  font-weight: 500;
  gap: var(--gap);
  grid-template-columns: repeat(var(--items-length, 1), 1fr);
  padding: var(--gap);
  text-align: center;
  user-select: none;
}

.option, .switch {
  border-radius: inherit;
  border-style: solid;
  border-width: max(0.08em, 1px);
  padding: 0.3em 1.3em;
  white-space: nowrap;
}

.option {
  background: none;
  border-color: transparent;
  color: inherit;
  cursor: pointer;
  grid-column: sibling-index();
  grid-row: 1;
  outline: none;
  z-index: 1;

  &:focus {
    border-color: white;
  }
}

.switch {
  background: #4a5565;
  border-color: #5d6674;
  grid-column: 1;
  grid-row: 1;
  pointer-events: none;
  transform: translateX(calc((100% + var(--gap)) * var(--selected-index, 0)));
  transition: transform 200ms ease;
  z-index: 0;
}
