@if (popular()) {
  <div class="badge font-medium">Most Popular</div>
}

<header class="header">
  <div class="icon" aria-hidden="true">
    <svg lucideStar [size]="18"  />
  </div>

  <h2 class="title">{{ title() }}</h2>
  <p class="subtitle">From {{ price() | currency }}</p>
  <p class="description">{{ description() }}</p>
</header>

<div class="content">
  <ul class="features">
    @for (feature of features(); track feature) {
      <li class="feature">
        <svg lucideCheck [size]="18" class="checkmark" [strokeWidth]="3" />
        <span>{{ feature }}</span>
      </li>
    }
  </ul>
</div>
<footer>
  <button type="button" role="button">
    {{ cta_text() }}
  </button>
</footer>
