:host {
  align-items: center;
  background: var(--color-background);
  border: 2px solid var(--color-border);
  border-radius: 10px;
  color: var(--color-text);
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  gap: 6px;
  justify-content: center;
  line-height: 16px;
  padding: 6.5px 10px;
}
