@let _svg_size = 52;
@let _stroke_width = 4;
@let _circle_center = _svg_size / 2;
@let _circle_radius = (_svg_size / 2) - (_stroke_width / 2);
<!-- cubic-bezier(0.650, 0.000, 0.450, 1.000) -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  stroke-linecap="round"
  [attr.stroke-width]="_stroke_width"
  [attr.viewBox]="`0 0 ${_svg_size} ${_svg_size}`"
>
  <defs>
    <mask id="outsideInFillMask">
      <g opacity="0">
        <rect
          [attr.width]="_svg_size"
          [attr.height]="_svg_size"
          fill="white"
          stroke="none"
        />
        <circle
          [attr.cx]="_circle_center"
          [attr.cy]="_circle_center"
          [attr.r]="_circle_radius"
          fill="black"
          stroke="none"
        >
          <animate
            attributeName="r"
            to="0"
            [attr.from]="_circle_radius"
            begin="0.35"
            dur="0.3"
            calcMode="spline"
            keySplines="0.65 0 0.45 1"
            fill="freeze"
          />
        </circle>
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.001"
          fill="freeze"
        />
      </g>
    </mask>
  </defs>

  <g
    transform-box="fill-box"
    transform-origin="center"
  >
    <circle
      [attr.cx]="_circle_center"
      [attr.cy]="_circle_center"
      [attr.r]="_circle_radius"
      fill="var(--color-status-success)"
      mask="url(#outsideInFillMask)"
    />

    <circle
      [attr.cx]="_circle_center"
      [attr.cy]="_circle_center"
      [attr.r]="_circle_radius"
      fill="none"
      stroke="var(--color-status-success)"
      stroke-dashoffset="166"
      stroke-dasharray="166"
    >
      <animate
        attributeName="stroke-dashoffset"
        from="166"
        to="0"
        dur="0.4"
        begin="0"
        calcMode="spline"
        keySplines="0.65 0 0.45 1"
        fill="freeze"
      />
    </circle>

    <path
      fill="none"
      stroke="white"
      stroke-dasharray="48"
      stroke-dashoffset="48"
      d="M14.1 27.2l7.1 7.2 16.7-16.8"
    >
      <animate
        attributeName="stroke-dashoffset"
        from="48"
        to="0"
        dur="0.3"
        begin="0.7"
        calcMode="spline"
        keySplines="0.65 0 0.45 1"
        fill="freeze"
      />
    </path>

    <animateTransform
      attributeName="transform"
      attributeType="XML"
      type="scale"
      values="1;1.1;1"
      keyTimes="0;0.5;1"
      dur="0.4"
      begin="0.7"
      keySplines="0.42 0 0.58 1;0.42 0 0.58 1"
      calcMode="spline"
    />
  </g>
</svg>
