:host {
  cursor: pointer;
  display: inline-flex;
  width: var(--size, 1.5rem);
}

line {
  scale: 1;
  transition: .2s ease-in-out;
}

:host.active {
  line:first-child,
  line:last-child{
    opacity: 0;
     scale: 0;
  }

  line:first-child {
    translate: 0 32%;
  }

  line:last-child {
    translate: 0 -32%;
  }

  line:nth-child(2) {
    transform: rotate(-45deg);
  }

  line:nth-child(3)  {
    transform: rotate(45deg);
  }
}
