:host {
  align-content: var(--align-content, stretch);
  align-items: var(--align-items, stretch);
  display: var(--flex-style, flex);
  flex-flow: var(--direction, row) wrap;
  gap: var(--gap, 0);
  justify-content: var(--justify-content, flex-start);
  width: 100%;
}
