@import 'https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap';

:host {
  font-family: Fredoka, sans-serif;
}

:host(.flat){
  background-image: none;
  box-shadow: none;
}

$color-variables: (
  '': (
    '--color-background': #D1A354,
    '--color-border': #805429,
    '--color-shadow': var(--color-border),
    '--color-text': #4A2A0C
  ),
  ':disabled, [disabled], .color-disabled': (
    '--color-background': #E6DFD5,
    '--color-border': #A69D92,
    '--color-shadow': transparent,
    '--color-text': #8C8378
  ),
  '.color-light': (
    '--color-background': #E4BA73,
    '--color-border': #805429,
    '--color-shadow': var(--color-border),
    '--color-text': #4A2A0C
  ),
  '.color-danger': (
    '--color-background': #E84A3B,
    '--color-border': #8A1A10,
    '--color-shadow': var(--color-border),
    '--color-text': white
  ),
  '.color-danger-tonal': (
    '--color-background': #E84A3B33,
    '--color-border': #E84A3B66,
    '--color-shadow': var(--color-border),
    '--color-text': #8A1A10
  ),
  '.color-info': (
    '--color-background': #4FAEE6,
    '--color-border': #2B7AAB,
    '--color-shadow': var(--color-border),
    '--color-text': white
  ),
  '.color-success': (
    '--color-background': #6BC235,
    '--color-border': #3A7316,
    '--color-shadow': var(--color-border),
    '--color-text': white
  ),
  '.color-success-tonal': (
    '--color-background': rgb(107 194 53 / 40%),
    '--color-border': rgb(107 194 53 / 20%),
    '--color-shadow': var(--color-border),
    '--color-text': #3A7316
  ),
  '.color-warning': (
    '--color-background': rgb(255 203 43),
    '--color-border': rgb(163 122 0),
    '--color-shadow': var(--color-border),
    '--color-text': rgb(74 42 12)
  ),
  '.color-warning-tonal': (
    '--color-background': rgb(255 203 43 / 30%),
    '--color-border': rgb(255 203 43 / 50%),
    '--color-shadow': var(--color-border),
    '--color-text': rgb(163 122 0)
  )
);

@each $selector, $prop-and-value in $color-variables {
  @if $selector == '' {
    :host {
      @each $property, $value in $prop-and-value {
        #{$property}: $value;
      }
    }
  } @else {
    :host(#{$selector}) {
      @each $property, $value in $prop-and-value {
        #{$property}: $value;
      }
    }
  }
}
