@font-face {
  font-display: swap;
  font-family: Brier;
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.prod.website-files.com/67b5a02dc5d338960b17a7e9/67b6113a220f85ad6497495a_Brier-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Mona Sans Variable";
  font-style: normal;
  font-weight: 200 900;
  src: url("https://cdn.prod.website-files.com/67b5a02dc5d338960b17a7e9/67bc6274c5b4108b123aa4d5_MonaSans-VariableFont_wdth%2Cwght.woff2") format("woff2");
}

.mona-sans {
  font-family: 'Mona Sans Variable', Arial, sans-serif;
}
