:host {
  --carousel-gap: 1em;

  display: flex;
  margin: 100px auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.group {
  align-items: center;
  animation: slide-left 10s infinite linear;
  display: flex;
  gap: var(--carousel-gap);
  justify-content: center;
  padding-right: var(--carousel-gap);
}

:host(:hover) .group {
  animation-play-state: paused;
}

.card {
  align-content: center;
  aspect-ratio: 1;
  background: cornflowerblue;
  border-radius: 0.2em;
  flex: 0 0 200px;
  font-size: 3rem;
  text-align: center;
}

@keyframes slide-left {
  to {
    translate: -100%;
  }
}
