:host {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 12px;
  justify-content: center;
  gap: 8px;

  border-radius: 16px;
  border: 3px solid #805429;
  background: #FFF;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.05);
}
