:host {
  display: inline-flex;
  perspective: 1000px;

  &.horizontal_alignment-center {
    .side {
      justify-content: center;
    }
  }

  &.vertical_alignment-center {
    .side {
      align-items: center;
    }
  }

  [ngprojectas=front]{
    background: red;
  }
}

.flipper {
  display: grid;
  height: fit-content;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: fit-content;
}

.side {
  backface-visibility: hidden;
  display: flex;
  grid-area: 1 / 1;
}

$rotation_degrees: 180deg;
:host.flip_axis-y {
  &.flip_on-hover:hover,
  &.flip_on-click.flipped {
    .flipper {
      transform: rotateY($rotation_degrees);
    }
  }
  .side.back {
    transform: rotateY($rotation_degrees);
  }
}

:host.flip_axis-x {
  &.flip_on-hover:hover,
  &.flip_on-click.flipped {
    .flipper {
      transform: rotateX($rotation_degrees);
    }
  }
  .side.back {
    transform: rotateX($rotation_degrees);
  }
}

