<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>My Prototype</title>
            <style>* {box-sizing: border-box;
}

body {
    padding: 1rem;
    font-family: sans-serif;
    font-size: 16px;
}

div {
    background: red;
    border-radius: 20px 20px 16px 16px;
    display: flex;
    filter: drop-shadow(24px 32px 24px rgba(0, 0, 0, 0.6));
    min-height: 400px;
    mask-image: radial-gradient(103% 12% at 50% 102%, transparent 50%, white 51%);
    max-width: 120rem;
    justify-content: center;
    align-items: center;    
}</style>
            
        </head>
        <body>
           <div>CURVED BLOCK</div>
        </body>
    </html>