:host {
  display: flex;
  justify-content: space-evenly;
  column-gap: 2rem;
}

svg {
  flex: 1 0 0;

  &:hover {
    g:not(:hover), circle:not(:hover) {
      opacity: 0.5
    }
  }
}

g {
  cursor: pointer;

  //&:focus {
  //  outline: none;
  //  path {
  //    stroke-width: 4px;
  //  }
  //}
}

path {
  transition: transform 0.2s;

  &:not([fill]) {
    fill: hsla(0 0% 74% / 0.37);
  }
}

mbr-sunburst-chart-legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
