:host {
  display: flex;
  --slate-700: #334155;
  justify-content: space-evenly;
}

svg {
  flex: 1 0 0;
}

g {
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(1.1);

    path {
      transform: scale(1.01);
    }
  }
}

path {
  transition: transform 0.2s;

  &:not([fill]) {
    fill: hsla(0 0% 74% / 0.37);
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  h2 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--slate-700);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .label {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    .value {
      font-size: 0.875rem;
      font-weight: 700;
      color: var(--slate-800);
    }
  }

  .dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
  }

  .legend-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--slate-600);
  }
}
