@let _svg_size = svg_size();
@let _svg_half_size = svg_half_size();
@let _root_item = root_item();
<svg
  class="w-full md:flex-1"
  [attr.viewBox]="'0 0 ' + _svg_size + ' ' + _svg_size"
>
  <g>
    <circle
      [attr.cx]='_svg_half_size'
      [attr.cy]='_svg_half_size'
      [attr.fill]='_root_item.color'
      r='70'
    />
    <text
      [attr.x]='_svg_half_size'
      [attr.y]='_svg_half_size - 5'
      text-anchor='middle'
      font-weight='bold'
      font-size='20'
    >
      {{ _root_item.value | currency : undefined : 'symbol' :'1.0-2' }}
    </text>
    <text
      [attr.x]='_svg_half_size'
      [attr.y]='_svg_half_size + 20'
      text-anchor='middle'
      font-size='14'
    >
      {{ _root_item.label }}
    </text>
  </g>

  @for (item of flattened_hierarchy(); track item.label + item.path) {
    <g
      [mbrTooltip]='item.tooltip'
      [mbrTooltipTitle]='item.label'
    >
      <path
        [attr.d]='item.path'
        [attr.fill]='item.color'
        stroke-width='1.5'
      />
      @if (item.slice_angle > 5) {
        <text
          [attr.x]='item.tx'
          [attr.y]='item.ty'
          text-anchor='middle'
          class='label-text'
          fill='#1e293b'
          [attr.font-size]='item.fontSize'>
          <tspan [attr.x]='item.tx' dy='-0.6em'>{{ item.label }}</tspan>
          <tspan [attr.x]='item.tx' dy='1.2em' font-weight='400' fill='#334155'>{{ item.val_str }}</tspan>
        </text>
      }
    </g>
  }
</svg>
@if (show_legend()) {
  <mbr-sunburst-chart-legend
    class="w-full md:basis-1/2"
    [hierarchy]='hierarchy()'
  >
    <ng-content select='legend-footer'></ng-content>
  </mbr-sunburst-chart-legend>
}
