:host {
  --marquee-animation-duration: 40s;
  --marquee-animation-direction: -1;
  --marquee-gap: 1em;
  --mask-size: 10%;

  display: flex;
  gap: var(--marquee-gap);
  min-width: 100%;
  overflow: hidden;
  user-select: none;
}

:host(::-webkit-scrollbar) {
  display: none;
}

.track {
  align-items: center;
  animation-duration: calc(var(--marquee-animation-duration) / var(--marquee-speed, 1));
  animation-iteration-count: infinite;
  animation-name: slide;
  animation-timing-function: linear;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  gap: var(--marquee-gap);
  min-width: 100%;
  justify-content: center;

  @media (prefers-reduced-motion: reduce) {
    animation-duration: calc(calc(var(--marquee-animation-duration) / var(--marquee-speed, 1)) * 4);
  }
}

:host(.direction-right) {
  --marquee-animation-direction: 1;
  flex-direction: row-reverse;
}

:host(.fade) {
  /**
   * TODO: allow fade on left only or right only
   */
  //mask-image: linear-gradient(90deg, transparent, black 10%, black 80%, transparent 100%);
  mask-image: linear-gradient(var(--mask-direction, to right), transparent, black 20%, black 80%, transparent);
}

:host(.pause-on-hover:hover) .track {
  animation-play-state: paused;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
::ng-deep .track > * {
  align-content: center;
  text-align: center;
}

@keyframes slide {
  to {
    transform: translateX(calc(var(--marquee-animation-direction, -1) * 100%));
  }
}
