:host {
  display: inline-flex;
  flex-wrap: var(--avatar-group-wrap, wrap);
  vertical-align: middle;
}

:host(.compact) {
  --avatar-group-density-multiplier: -0.45;
}

:host(.loose) {
  --avatar-group-density-multiplier: -0.2;
}
