<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
  <circle cx="12" cy="12" r="10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M12 6.01953V6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M12 10V18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

<div class="content">
  <ng-content>
    Looking for the latest from creators you follow? Check the <a href="https://open.spotify.com/" target="_blank" rel="noopener noreferrer">Music</a> or <a href="https://open.spotify.com/" target="_blank" rel="noopener noreferrer">Podcast</a> feeds on Home
  </ng-content>
</div>

<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256">
  <path
    d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
</svg>
