<ng-container [ngTemplateOutlet]="placeholder"/>
<input
  type='file'
  multiple
  [accept]="accept()"
  (click)="reset()"
  (dragstart)="on_drag_start($event)"
  (dragenter)="on_drag_enter($event)"
  (dragover)="on_drag_over($event)"
  (dragleave)="on_drag_leave($event)"
  (drop)="on_drop($event)"
  (change)="on_file_selected($event)"
/>

@if (dragging()) {
  @if (valid()) {
    @if (submitted()) {
      <ng-container [ngTemplateOutlet]="overlay_dropped"/>
    }
    @else {
      <ng-container [ngTemplateOutlet]="overlay_valid"/>
    }
  }
  @else {
    <ng-container [ngTemplateOutlet]="overlay_error"/>
  }
}

<ng-template #placeholder>
  <div class="content placeholder">
    <div class="icon-wrapper flex items-center justify-center">
      <svg lucideCloudUpload [size]="30" />
    </div>
    <div class="instruction">
      <h4>Drag & drop your files</h4>
      <p>Accepted: {{ acceptable_types_text() }}</p>
      <p>Max file size 25MB</p>
    </div>
    <button>Select files</button>
  </div>
</ng-template>

<ng-template #overlay_valid>
  <div class="content overlay">
    <div class="icon-wrapper flex items-center justify-center">
      <svg lucideFiles [size]="30" />
    </div>

    <div class="instruction">
      <h4>Uploading {{ file_count() }} file{{ file_count() > 1 ? 's' : '' }}</h4>
    </div>
  </div>
</ng-template>

<ng-template #overlay_dropped>
  <div class="content overlay">
    <div class="icon-wrapper">
      <mbr-svg-checkmark-circle-filled class="icon"/>
    </div>
    <div class="instruction">
      <h4>Uploaded {{ file_count() }} file{{ file_count() > 1 ? 's' : '' }}</h4>
    </div>
  </div>
</ng-template>

<ng-template #overlay_error>
  <div class="content overlay">
    <div class="icon-wrapper flex items-center justify-center">
      <svg lucideTriangleAlert [size]="30" />
    </div>
    <div class="instruction">
      <h4>Unsupported file format detected</h4>
      <p>One or more files do not match the allowed format: {{ acceptable_types_text() }}</p>
      <p>Max file size 25MB</p>
    </div>
    <button>Select files</button>
  </div>
</ng-template>
