<ng-container [ngTemplateOutlet]="placeholder"/>
<input
  type='file'
  multiple
  [accept]="accept()"
  (click)="reset()"
  (dragstart)="on_drag_start($event)"
  (dragenter)="on_drag_enter($event)"
  (dragover)="on_drag_over($event)"
  (dragleave)="on_drag_leave($event)"
  (drop)="on_drop($event)"
  (change)="on_file_selected($event)"
/>

@if (dragging()) {
  @if (valid()) {
    @if (submitted()) {
      <ng-container [ngTemplateOutlet]="overlay_dropped"/>
    }
    @else {
      <ng-container [ngTemplateOutlet]="overlay_valid"/>
    }
  }
  @else {
    <ng-container [ngTemplateOutlet]="overlay_error"/>
  }
}

<ng-template #placeholder>
  <div class="content placeholder">
    <div class="icon-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        stroke="currentColor"
        stroke-linecap="round"
        fill="none"
        stroke-width="16"
        stroke-linejoin="round"
        class="icon"
      >
        <path d="M112,208H72A56,56,0,1,1,85.92,97.74"/>
        <polyline points="120 160 152 128 184 160"/>
        <line x1="152" y1="208" x2="152" y2="128"/>
        <path d="M80,128a80,80,0,1,1,112,73.34"/>
      </svg>
    </div>
    <div class="instruction">
      <h4>Drag & drop your files</h4>
      <p>Accepted: {{ acceptable_types_text() }}</p>
      <p>Max file size 25MB</p>
    </div>
    <button>Select files</button>
  </div>
</ng-template>

<ng-template #overlay_valid>
  <div class="content overlay">
    <div class="icon-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        class="icon"
        stroke="currentColor"
        stroke-linecap="round"
        fill="none"
        stroke-width="16"
        stroke-linejoin="round"
      >
        <path d="M168,224H56a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8h80l40,40V216A8,8,0,0,1,168,224Z"/>
        <path d="M80,64V40a8,8,0,0,1,8-8h80l40,40V184a8,8,0,0,1-8,8H176"/>
        <line x1="88" y1="152" x2="136" y2="152"/>
        <line x1="88" y1="184" x2="136" y2="184"/>
      </svg>
    </div>

    <div class="instruction">
      <h4>Uploading {{ file_count() }} file{{ file_count() > 1 ? 's' : '' }}</h4>
    </div>
  </div>
</ng-template>

<ng-template #overlay_dropped>
  <div class="content overlay">
    <div class="icon-wrapper">
      <mbr-svg-checkmark-circle-filled class="icon"/>
    </div>
    <div class="instruction">
      <h4>Uploaded {{ file_count() }} file{{ file_count() > 1 ? 's' : '' }}</h4>
    </div>
  </div>
</ng-template>

<ng-template #overlay_error>
  <div class="content overlay">
    <div class="icon-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="icon">
        <rect width="256" height="256" fill="none"/>
        <path
          d="M142.41,40.22l87.46,151.87C236,202.79,228.08,216,215.46,216H40.54C27.92,216,20,202.79,26.13,192.09L113.59,40.22C119.89,29.26,136.11,29.26,142.41,40.22Z"
          fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
        <line x1="128" y1="144" x2="128" y2="104" fill="none" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="16"/>
        <circle cx="128" cy="180" r="12" fill="currentColor"/>
      </svg>
    </div>
    <div class="instruction">
      <h4>Unsupported file format detected</h4>
      <p>One or more files do not match the allowed format: {{ acceptable_types_text() }}</p>
      <p>Max file size 25MB</p>
    </div>
    <button>Select files</button>
  </div>
</ng-template>
