:host {
  --color-primary: #FF581B;
  --color-muted: #5E5E5E;
  --color-muted-lighter: #dddada;
  --color-background: #f7f7f7;

  align-items: center;
  backdrop-filter: blur(4px);
  background-color: var(--color-background);
  border: 2px dashed var(--color-muted-lighter);
  border-radius: 4px;
  box-shadow: 0 0 16px 10px var(--color-background);
  color: black;
  display: flex;
  justify-content: center;
  max-width: 80vw;
  padding: 2rem;
  position: relative;
  transition: background 0.2s ease, border-color 0.2s ease;
  width: 960px;

  &::before {
    --grid-color-x: var(--color-muted-lighter);
    --grid-color-y: var(--color-muted-lighter);
    --grid-line-thickness: 1px;
    --grid-size: 50px;

    background-image: radial-gradient(ellipse at center, #0000, var(--color-background) 80%), linear-gradient(90deg, transparent 0, transparent calc(var(--grid-size) - var(--grid-line-thickness)), var(--grid-color-y) calc(var(--grid-size) - var(--grid-line-thickness)), var(--grid-color-y) var(--grid-size)), linear-gradient(180deg, transparent 0, transparent calc(var(--grid-size) - var(--grid-line-thickness)), var(--grid-color-x) calc(var(--grid-size) - var(--grid-line-thickness)), var(--grid-color-x) var(--grid-size));
    background-repeat: no-repeat, repeat, repeat;
    background-size: 100%, var(--grid-size) 100%, 100% var(--grid-size);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

p {
  color: var(--color-muted);
  font-size: 0.75rem;
  font-weight: 400;
}

.icon-wrapper {
  aspect-ratio: 1;
  background-color: color-mix(in srgb, var(--color-primary), white 65%);
  border-radius: 50%;
  color: var(--color-primary);
  height: 50px;
  padding: 10px;
}

.content {
  align-items: center;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  row-gap: 12px;
}

.content.placeholder {
  backdrop-filter: blur(1px);
}

.content.overlay {
  backdrop-filter: blur(2px);
  background-color: color-mix(in srgb, var(--color-primary), transparent 80%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.instruction {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem;
  justify-content: center;
  text-align: center;
}

.instruction > * {
  margin: 0;
}

button {
  background: var(--color-primary);
  border-color: transparent;
  border-radius: 0.625rem;
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 12px 40px;
}

input[type="file"] {
  cursor: pointer;
  height: 100%;
  isolation: isolate;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

:host(.dragging) {
  border-color: var(--color-primary);
  cursor: grab;

  .content.placeholder {
    visibility: hidden;
  }
}

:host(.invalid) {
  --color-primary: red;

  animation: disapproving-shake .5s
}

:host(.valid) {
  --color-primary: #34A853;
}

:host(.submitted.valid) {
  .icon-wrapper {
    padding: 0;
  }
}

@keyframes disapproving-shake {
  20% {
    translate: -6px;
  }

  40% {
    translate: 6px;
  }

  60% {
    translate: -4px;
  }

  80% {
    translate: 4px;
  }
}


