<header>
  <h2>Upload file</h2>
  <p>Choose a file from your computer</p>
</header>
<section>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 256"
    stroke="currentColor"
    stroke-linecap="round"
    fill="none"
    stroke-width="16"
    stroke-linejoin="round"
  >
    <path d="M112,208H72A56,56,0,1,1,85.92,97.74"/>
    <polyline points="120 160 152 128 184 160"/>
    <line x1="152" y1="208" x2="152" y2="128"/>
    <path d="M80,128a80,80,0,1,1,112,73.34"/>
  </svg>
  <div class="description">
    <h4>Drag and Drop file here or</h4><h4 class="text-primary">select a file to upload</h4>
  </div>
  <p>Max file size 25MB</p>
</section>
<footer>
  <button disabled>Continue</button>
</footer>
<input type='file' #file_input/>
