:host {
  align-items: center;
  color: white;
  display: inline-flex;
  justify-content: center;
  background-color: hsl(142 70% 49%);
}

a {
  align-items: center;
  color: inherit;
  display: inline-flex;
  font-size: inherit;
  justify-content: center;
}

svg {
  height: 1.5em;
  width: auto;
}

:host(.size-small) {
  border-radius: 8px;
  font-size: 13px;

  a {
    gap: 9.69px;
    //height: 36px;
    padding: 8.25px 10.04px;
    //width: 160px;
  }
}

:host(.size-medium) {
  border-radius: 8px;
  font-size: 16px;

  a {
    gap: 9.5px;
    //height: 40px;
    padding: 8px 9.6px;
    //width: 189px;
  }
}

:host(.size-large) {
  border-radius: 12px;
  font-size: 18px;

  a {
    gap: 9.64px;
    //height: 48px;
    padding: 10.5px 9px;
    //width: 207px;
  }
}
